# Credenciais e conexões de desenvolvimento; copie para .env e ajuste conforme necessário.
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
SOURCE_DATABASE_URL=postgresql+psycopg2://pet_user:123456@postgres:5432/petshop_oracle
DW_DATABASE_URL=postgresql+psycopg2://pet_user:123456@postgres:5432/petshop_dw
POSTGRES_SOURCE_DATABASE_URL=postgresql+psycopg2://pet_user:123456@postgres:5432/petshop_postgres
POSTGRES_NOME_EMPRESA=Pet Shop Nosso Aumigo
POSTGRES_NOME_UNIDADE=Itabuna
POSTGRES_CIDADE=Itabuna
POSTGRES_ESTADO=Bahia
POSTGRES_UF=BA
POSTGRES_REGIAO=Nordeste
